data.dir = /bettik/PROJECTS/pr-drive-r/mariomat/snpEff

lys_bel.genome : lys_bel
ito_sal.genome : ito_sal
mel_pho.genome : mel_pho
pie_nap.genome : pie_nap
pol_ica.genome : pol_ica
hel_mel.genome : hel_mel
hel_cyd.genome : hel_cyd
hel_tim.genome : hel_tim
hel_num.genome : hel_num
pap_mac.genome : pap_mac
pap_hos.genome : pap_hos
mel_pho.genome : mel_pho
ant_car.genome : ant_car
mel_gal.genome : mel_gal
pie_nap.genome : pie_nap
